In [1]:
#下のデータに対してassociation分析を行い、相関ルールを見つけよ
!curl -s "https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv" -o "data.csv"

In [2]:
import pandas as pd
df = pd.read_csv("data.csv", header=0)
items = set()
for col in df:
    items.update(df[col].unique())
itemset = set(items)
encoded_vals = []
for index, row in df.iterrows():
    rowset = set(row) 
    labels = {}
    uncommons = list(itemset - rowset)
    commons = list(itemset.intersection(rowset))
    for uc in uncommons:
        labels[uc] = 0
    for com in commons:
        labels[com] = 1
    encoded_vals.append(labels)
encoded_vals[0]
ohe_df = pd.DataFrame(encoded_vals)
ohe_df = ohe_df.drop(columns=ohe_df.columns[0], axis=1)

In [3]:
df.head()

        0       1     2       3       4       5       6
0   Bread    Wine  Eggs    Meat  Cheese  Pencil  Diaper
1   Bread  Cheese  Meat  Diaper    Wine    Milk  Pencil
2  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
3  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
4    Meat  Pencil  Wine     NaN     NaN     NaN     NaN

In [4]:
ohe_df.head()

   Milk  Bagel  Wine  Cheese  Pencil  Meat  Diaper  Bread  Eggs
0     0      0     1       1       1     1       1      1     1
1     1      0     1       1       1     1       1      1     0
2     1      0     1       1       0     1       0      0     1
3     1      0     1       1       0     1       0      0     1
4     0      0     1       0       1     1       0      0     0

In [ ]:
from mlxtend.frequent_patterns import apriori, association_rules
#-------------------------------code---------------------------#


#-------------------------------//code-------------------------#